# Python
__pycache__/
*.pyc
*.pyo

# Virtual envs
.venv/
venv/

# Playwright/session artifacts
automation/logs/*
automation/screenshots/*
automation/state/*
automation/downloads/*
automation/config/credentials.local.yaml
automation/config/credentials.prod.local.yaml

# Keep folder structure
automation/logs/.gitkeep
automation/screenshots/.gitkeep
automation/state/.gitkeep
automation/downloads/.gitkeep
